@page
@model UploadModel

<h2>Upload test assemblies</h2>
<form method="post" enctype="multipart/form-data">
    <p>
        <label class="form-label" for="file-upload">
            Your .dll files to test (@(UploadModel.MaxUploadSizeInBytes / 1024 / 1024)MB max)
        </label>
        <input class="form-control" id="file-upload" name="testFiles" type="file" multiple
            accept=@UploadModel.AssemblyExtension>
    </p>
    <button class="btn btn-primary" type="submit"
        onclick="return VerifyUploadSize('file-upload', @UploadModel.MaxUploadSizeInBytes)">Start testing
    </button>
</form>

<script src="~/js/VerifyUploadSize.js"></script>
