@page
@model UploadModel

<h2>Upload your test assemblies</h2>
<form method="post">
    <p>
        <label for="files">.dll files to test</label>
        <input id="files" type="file" multiple>
    </p>
    <button type="submit">Start testing</button>
</form>
